@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #000000;
  --fg: #ffffff;
  --muted: #a3a3a3;
  --border: #262626;
  --surface: #0a0a0a;
  --surface2: #141414;
}

* {
  box-sizing: border-border;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--fg);
  background: var(--bg);
  -webkit-font-smoothing: antialiased;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
